footer {
    background-color: #1d2632;
    /* height: 500px; */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
    margin-top: 4rem;
    color: white;
    align-items: center;
    justify-content: center;
}

.flex-containers {
    /* background-color: yellow; */
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-bottom: 1px solid #737373;
    justify-content: space-between;
}

.flex-container {
    margin-bottom: 3rem;
}

.flex-container div:first-child {
    border-bottom: 1px solid #737373;
}

.flex-container div h2 {
    font-size: 30px;
    font-weight: 500;
    color: white;
    margin-bottom: 1rem;
}

#shop-name {
    color: green;
}

.flex-container div ul li {
    list-style: none;
    margin-top: 0.5rem;
    color: white;
    /* font-size: 18px; */
    transition: color 0.3s ease;
}

.flex-container div ul li:hover {
    color: green;
    cursor: pointer;
}

.footer-icon {
    width: 20px;
    filter: brightness(0) invert(1);
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
    justify-content: space-between;
}

.contact {
    /* background-color: rgb(255, 153, 0); */
    height: 50px;
    display: flex;
    gap: 1rem;
}

.contact div {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid #737373;
    /* background-color: green; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact div img {
    width: 25px;
    filter: brightness(0) invert(1);
}

#gmail-container {
    background: transparent;
    border-radius: 0%;
    width: 100%;
    max-width: 500px;
    height: auto;
    border: none;
}

#gmail-container input {
    width: 60%;
    padding: 10px;
    border: 1px solid #737373;
    background: transparent;
}

#gmail-container input:focus-within {
    outline: 2px solid #2d343f;

}

#gmail-container button {
    width: 40%;
    padding: 10px;
    background-color: #59ab6e;
    border: 1px solid #56ae6c;
    color: white;

}

.copyright {
    width: 100%;
    background-color: #0d1217;
    padding: 2rem 0;
}

.copyright p {
    margin-left: 1rem;
}


@media screen and (min-width:768px) {

    footer {
        gap: 2rem;
    }

    .flex-containers {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .flex-container {
        width: 40%;
        height: 350px;

    }

    .flex-container div h2 {
        margin-bottom: 2rem;
    }

    .flex-container div ul li {
        margin-top: 1rem;
        font-size: 1.2rem;
    }

    .contacts {
        flex-direction: row;
        gap: 1rem;
        justify-content: space-between;
    }

    .contact {
        width: 50%;
    }

    #gmail-container input {
        width: 65%;
    }

    #gmail-container button {
        width: 35%;
    }

}